.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
}

#div1{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-color: darkgreen;
}


#div2{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-color: red;
}


#div3{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-color: blue;
}


#div4{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-color: gray;
}

